h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.flex-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 20px;
}

.flex-nav a {
  text-decoration: none;
}

.prompt-box,
.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 40vh;
}

.btn {
  margin-top: 20px;
  padding: 5px;
}

.answer-choice {
  color: #222;
  background-color: #f0b45c;
  text-align: left;
}

.return-btn a {
  text-decoration: none;
}

.hidden {
  display: none;
}
